/* Font Import */
@import url('https://fonts.googleapis.com/css?family=Nothing+You+Could+Do&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow&display=swap');

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: 'Nothing You Could Do', cursive;
}

@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
}

body{
  background: #97cae7;
  /* background: radial-gradient(#84CEEB, #C1C8E4, #5680E9, #8860D0); */
  color: white;
}

/*
* Stying for the navigation bar
*/

nav{
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  font-size: 30px;
  background: #97cae7;
  z-index: 9999;
}

@media (max-width: 28.75em) {
  .nav {
    justify-content: center;
    margin: 0 1rem;
  }
}

nav .nav-link{
  padding: 10px 10px;
}

.nav-link{
  cursor: pointer;
  color: white;
}

.nav-link:hover {
  color: white;
  transition: 1s;
  animation: spring 1s ease;
}

@keyframes spring { 
  0% {
    transform: scale(1) translateY(0); 
  }
  10% {
    transform: scale(1.2, 0.6); 
  }
  30% { 
    transform: scale(0.8, 1.1) translateY(-10px); 
  }
  50% { 
    transform: scale(1) translateY(0); 
  }
  100% { 
    transform: translateY(0); 
  }
}

/*
* Styling for welcome message
*/

.welcome-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

h1{
  font-size: 50px;;
}

p{
  font-size: 25px;
}

#single-char {
  color: white;
}

/*
* Styling for about me
*/

#about {
  height: 100vh;
  padding: 5rem 2rem;
  background-color: rgba(68, 63, 63, 0.452);
  width: 80vw;
  margin: auto 10rem;
  border: white;
  border-style: solid;
  border-width: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

@media (max-width: 28.75em) {
  #about > h2 {
    font-size: 4rem;
  }
}

#about:hover {
  border: #41728f;
  border-style: solid;
  border-width: 15px;
  transition: 1s ease;
}

.about-header {
  font-size: 50px;
  margin: 0;
}

.info-container {
  display: flex;
}

.intro{
  align-self: center;
  padding: 55px;
}

.details{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  padding-bottom: 3rem;
}

.details > ul {
  list-style: none;
  text-align: left;
}

.list-title {
  margin-left: 7rem;
}

.list {
  text-align: left;
  list-style: none;
}

.education {
  font-size: 17px;
  flex: 50%;
}

.skills {
  font-size: large;
  flex: 30%;
}

/*
* Styling for projects
*/

#projects{
  text-align: center;
  padding: 5rem 2rem;
  height: 100vh;
}

.projects-header{
  max-width: 640px;
  margin: 0 auto 6rem auto;
  font-size: 50px;
}
.projects-layout {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
  max-height: fit-content;
}

@media (max-width: 30.625em) {
  #projects {
    padding: 6rem 1rem;
  }

  .projects-layout {
    grid-template-columns: 1fr;
  }
}

.project {
  box-shadow: 1px 1px 2px rgba(141, 126, 126, 0.5);
  border-radius: 2px;
}

.project-image {
  width: 100%;
  object-fit: cover;
}

.project-name {
  font-size: 2rem;
  padding: 2rem 0.5rem;
  color: white;
}

.project-name:hover {
  color: red;
  transition: 1s ease;
}

.project-tile {
  text-decoration: none;
  background-color: rgba(68, 63, 63, 0.452);
}

/*
* Styling for Contact info
*/

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  padding: 0 2rem;
  margin-top: 28rem;
}

.contact-header > h2 {
  font-size: 6rem;
}

@media (max-width: 28.75em) {
  .contact-header > h2 {
    font-size: 4rem;
  }
}

.contact-links {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  max-width: 980px;
  margin-top: 4rem;
  flex-wrap: wrap;
  font-size: 35px;
}

.contact-details {
  text-decoration: none;
  color: white;
}

.contact-details:hover {
  color: #41728f;
  transition: 1s ease;
}

.email-link {
  text-decoration: none;
  color: white;
}

.email-link:hover {
  color: #41728f;
  transition: 1s ease;
}

/*
* Styling for the Footer
*/

footer {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
  border-top: 4px solid #41728f;
}

@media (max-width: 28.75em) {
  footer {
    flex-direction: column;
    text-align: center;
  }
}